<div class="container">
  <div class="row">
    <div class="col-md-4 col-sm-8 mx-2 mx-sm-auto shadow-lg rounded px-0 my-4">
      <h5 class="text-dark bg-light p-4 mb-0">グループ作成</h5>
      <div class="form-body p-4">
        <%= render 'error', group: @group %>
        <%= form_with model: @group do |f| %>
          <%= f.file_field :image, accept: "image/*", class: "w-100" %>
          <div class="input-group mb-3 mt-4">
            <%= f.text_field :name, class: "form-control", placeholder: "グループ名：30文字以内" %>
          </div>
          <%= f.text_area :introduction, class: "form-control", rows: "3", placeholder: "紹介文：100文字以内" %>
          <hr>
          <%= f.submit '作成', class: "btn btn-lg btn-block btn-info mt-4" %>
        <% end %>
      </div>
    </div>
    <div class="col-md-8 p-4">
      <h1>グループ一覧</h1>
      <table class="table">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col">グループ</th>
            <th scope="col">紹介文</th>
            <th scope="col"><i class="fa-solid fa-users"></i></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <% @groups.each do |group| %>
        <tbody>
          <tr>
            <th scope="row">
              <% if group.include_user?(current_user) %>
                <td class="pt-4">⭐️</td>
              <% else %>
                <td></td>
              <% end %>
              <td>
                <%= image_tag group.get_group_image(60,60), class: "rounded-circle" %><br>
                <%= link_to group_path(group.id) do %>
                  <%= group.name %>
                <% end %>
              </td>
              <td><%= group.introduction %></td>
              <td class="pt-4"><%= group.group_users.count %></td>
              
            </th>
          </tr>
        </tbody>
        <% end %>
      </table>
      <p>
        ※作成者をメンバーとしてカウントします<br>
        ※参加しているグループには⭐️が表示されます
      </p>
      <%= paginate @groups %>
    </div>
  </div>
</div>