<div class="container">
  <div class="row">
    <div class="col-4 p-4">
      <h1>グループ作成</h1>
      <div class="card">
        <div class="card-body">
          <%= render 'error', group: @group %>
          <%= form_with model: @group do |f| %>
            <h4>グループ画像</h4>
            <%= f.file_field :image, accept: "image/*" %>
            <h4 class="pt-4">グループ名</h4>
            <%= f.text_field :name, placeholder: "30字以内", class: :"w-100" %>
            <h4 class="pt-4">紹介文</h4>
            <%= f.text_area :introduction, placeholder: "100文字以内", class: :"w-100" %></br>
            <%= f.submit "作成する", class: "btn btn-md btn-success" %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-8 p-4">
      <h1>グループ一覧</h1>
      <table class="table">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">画像</th>
            <th scope="col">名前</th>
            <th scope="col">紹介文</th>
            <th scope="col">メンバー数</th>
          </tr>
        </thead>
        <% @groups.each do |group| %>
        <tbody>
          <tr>
            <th scope="row">
              <td><%= image_tag group.get_image(60,60), class: :"rounded-circle" %></td>
              <td>
                <%= link_to group_path(group.id) do %>
                  <%= group.name %>
                <% end %>
              </td>
              <td><%= group.introduction %></td>
              <td><%= group.group_users.count %>メンバー</td>
            </th>
          </tr>
        </tbody>
        <% end %>
      </table>
      <p>※作成者をメンバーとしてカウントします</p>
      <%= paginate @groups %>
    </div>
  </div>
</div>