<div class="container">
  <%= render partial: 'layouts/search', locals: { range: @range, word: @word, search: @search } %>
  <div class="row">
    <div class="col-4 p-4">
      <h1>新規投稿</h1>
      <%= render 'error', post: @post %>

      <%= form_with model: @post do |f| %>
        <h4>タイトル</h4>
        <%= f.text_field :title, placeholder:"30文字以内", class: "w-100" %>
        <h4 class="pt-3">画像</h4>
        <%= f.file_field :image, accept: "image/*" %>
        <h4 class="pt-3">本文</h4>
        <%= f.text_area :body, placeholder:"100文字以内", class: "w-100" %>
        <%= f.submit '投稿', class: "btn btn-md btn-success" %>
      <% end %>
    </div>
    <div class="col-8 p-4">
      <h1>投稿一覧</h1>
      <table class="table">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">ユーザー画像</th>
            <th scope="col">名前</th>
            <th scope="col">投稿画像</th>
            <th scope="col">タイトル</th>
            <th scope="col">コメント</th>
          </tr>
        </thead>
        <% @posts.each do |post| %>
        <tbody>
          <tr>
            <th scope="row">
              <td><%= image_tag post.user.get_profile_image(100,100), class: :"rounded-circle" %></td>
              <td>
                <%= link_to user_path(post.user.id) do %>
                  <%= post.user.name %>
                <% end %>
              </td>
              <td><%= image_tag post.get_image(100,100) %></td>
              <td>
                <%= link_to post_path(post.id) do %>
                  <%= post.title %>
                <% end %>
              </td>
              <td><%= link_to "#{post.post_comments.count}コメント", post_path(post.id) %></td>
            </th>
          </tr>
        </tbody>
        <% end %>
        </table>

      <%= paginate @posts %>
    </div>
    </div>
  </div>
</div>

