<div class="container">
  <div class="row">
    <div class="col-4 p-4">
      <h1>マイページ</h1>
      <%= image_tag @user.get_profile_image(100,100), class: :"rounded-circle" %>
      <h4><%= @user.name %></h4>
      <%= @user.introduction %>
      <% if @user == current_user %>
        <% unless @user.guest_user? %>
          <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
          <p><%= link_to "退会", user_path(current_user.id), method: :delete, "data-confirm" => "退会しますか？" %></p>
        <% end %>
      <% end %>
    </div>

    <%= render 'users_index', posts: @posts %>
  </div>
</div>