<div class="container">
  <div class="row">
    <div class="col-md-7 col-sm-12">
      <h1>グループ投稿詳細</h1>
      <div class="card mt-4 shadow-lg">
        <div class="row mx-4">
          <p class="mt-4"><%= image_tag @group_post.group_user.get_profile_image(60,60), class: "rounded-circle" %></p>
          <%= link_to user_path(@group_post.group_user.user.id) do %>
            <h4 class="ml-3 mt-5"><%= @group_post.group_user.user.name %></h4>
          <% end %>
        </div>
        <p class="mx-auto"><%= image_tag @group_post.get_group_post_image(400,400), class: "img-fluid" %></p>
        <% if @group_post.group_favorited_by?(@group_user) && @group_post.group_user_id != @group_user.id %>
          <p class="mx-4">
            <%= link_to group_group_post_group_favorite_path(group_id: @group, group_post_id: @group_post), method: :delete do %>
              <strong>❤️<%=@group_post.group_favorites.count %></strong>
            <% end %>
          </p>
        <% elsif @group_post.group_user_id != @group_user.id %>
          <p class="mx-4">
            <%= link_to group_group_post_group_favorite_path(group_id: @group, group_post_id: @group_post), method: :post do %>
              <strong>♡<%= @group_post.group_favorites.count %></strong>
            <% end %>
          </p>
        <% end %>
        <% if @group_post.group_user_id == @group_user.id %>
          <strong class="m-4">❤️<%= @group_post.group_favorites.count %></strong>
        <% end %>
        <p class="mx-4">タイトル: <%= @group_post.title %></p>
        <p class="mx-4">本文:<%= @group_post.body %></p>
        <%= content_tag :p, @group_post.created_at.strftime('%Y/%m/%d'), class: "mx-4 text-right" %>
      </div>
      <div class="row">
        <% if @group_post.group_user.user == current_user %>
        <div class="col-md p-3">
          <%= link_to "削除", group_group_post_path(group_id: @group, id: @group_post), method: :delete, "data-confirm" => "投稿を削除しますか？", class: "btn btn-md btn-block btn-danger" %>
        </div>
        <div class="col-md p-3">
          <%= link_to "編集", edit_group_group_post_path(group_id: @group, id: @group_post), class: "btn btn-md btn-block btn-info" %>
        </div>
        <% end %>
      </div>
      <%= link_to "グループ投稿一覧", group_group_posts_path(@group_post.group), class: "btn btn-outline-secondary btn-block p-3" %>
    </div>
    <div class="col-md-5 col-sm-12">
      <h1>コメント</h1>
      <%= form_with model: [@group_post, @group, @group_comment], url:  group_group_post_group_comments_path(group_id: @group, group_post_id: @group_post, group_comment_id: @group_cpmment), class: "mt-4" do |f| %>
        <%= f.text_area :group_comment, rows: '7', placeholder: "50文字以内でコメントしてください", class: "w-100" %>
        <%= f.hidden_field :group_post_id, value: @group_post.id %>
        <%= f.hidden_field :group_id, value: @group.id %></br>
        <%= f.submit "送信する" %>
      <% end %>
      <h4 class="mt-5"><i class="fa-regular fa-comment"></i><%= @group_post.group_comments.count %></h4>
      <table class="table">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col-md-2">コメント</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <% @group_comments.each do |group_comment| %>
        <tbody>
          <tr>
            <th scope="row">
              <td class="text-center">
                <%= image_tag group_comment.group_user.get_profile_image(60,60), class: "rounded-circle" %><br>
                <%= group_comment.group_user.user.name %>
              </td>
              <td>
                <%= group_comment.group_comment %>
                <br><%= group_comment.created_at.strftime('%Y/%m/%d') %>
              </td>
              <% if group_comment.group_user_id == @group_user.id %>
                <td><%= link_to "削除", group_group_post_group_comment_path(group_id: @group, group_post_id: @group_post, id: group_comment), method: :delete, "data-confirm" => "コメントを削除しますか？", class: "btn btn-sm btn-danger" %></td>
              <% end %>
            </th>
          </tr>
        </tbody>
        <% end %>
      </table>
      <%= paginate @group_comments %>
    </div>
  </div>
</div>
