<div class="container">
  <div class="row">
    <div class="col-4">
      <h1>新規投稿</h1>
      <%= render 'error', post: @post %>

      <%= form_with model: @post do |f| %>
        <h4>タイトル</h4>
        <%= f.text_field :title, placeholder:"30文字以内"%>
        <h4>画像</h4>
        <%= f.file_field :image, accept: "image/*" %>
        <h4>本文</h4>
        <%= f.text_area :body, placeholder:"100文字以内"%>
        <%= f.submit '投稿' %>
      <% end %>
    </div>
    <div class="col-8">
      <h1>投稿一覧</h1>
      <div>
        <% @posts.each do |post| %>
          <p>ユーザー名:
            <%= link_to user_path(post.user.id) do %>
              <%= post.user.name %>
            <% end %>
          </p>
          <p>ユーザー画像:<%= image_tag post.user.get_profile_image(100,100) %></p>
          <p>投稿画像:<%= image_tag post.get_image(200,200) %></p>
          <p>タイトル:
            <%= link_to post_path(post.id) do %>
              <%= post.title %>
            <% end %>
          </p>
        <% end %>
        <%= paginate @posts %>
      </div>
    </div>
  </div>
</div>

