<div class="container">
  <h1 class="pt-4">プロフィール編集</h1>
  <% if @user.errors.any? %>
  <div class="alert alert-danger w-50">
    <h5><%= @user.errors.count %>件のエラー</h5>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
       <li><h5><%= message %></h5></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <%= form_with model: @user do |f| %>
    <label for="inputName"><h4>名前</h4></label>
    <p><%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"30字以内", class: "w-50" %></p>
    <label for="inputImage"><h4>ユーザー画像</h4></label>
    <p><%= f.file_field :profile_image, placeholdaer: "プロフィール画像", accept: "image/*" %></p>
    <label for="inputIntroduction"><h4>自己紹介文</h4></label>
    <p><%= f.text_area :introduction, autofocus: true, id:"inputIntroduction", placeholder:"100文字以内", class: "w-50" %></p>
    <p><%= f.submit "変更を保存", class: "btn btn-md btn-primary" %></p>
  <% end %>
</div>
