<div class="container">
  <%= render partial: 'layouts/search', locals: { range: @range, word: @word, search: @search } %>
  <h1>ユーザー一覧</h1>
  <table class="table">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">ユーザー画像</th>
        <th scope="col">ユーザー名</th>
        <th scope="col">自己紹介文</th></th>
      </tr>
    </thead>
    <% @users.each do |user| %>
    <tbody>
      <tr>
        <th scope="row">
          <td><%= image_tag user.get_profile_image(100,100), class: :"rounded-circle" %></td>
          <td>
            <%= link_to user_path(user.id) do %>
              <%= user.name %>
            <% end %>
          </td>
          <td><%= user.introduction %></td>
        </th>
      </tr>
    </tbody>
    <% end %>
  </table>
  <%= paginate @users %>
</div>

